################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/Password-manager
/bin/Debug/net8.0
/obj
/wwwroot/lib
/.vs/ProjectEvaluation
/appsettings.Development.json
/登入功能實作步驟.md
